<div ng-controller="AccountCtrl">
  <h3 ng-show="model" ng-bind-template="Accounts from {{model.dateRange.rangeSummary}}"></h3>
  <section ng-repeat="group in model.accountBalances" class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading accordion-toggle" data-toggle="collapse" data-parent="#accountGroup{{group.id}}" href="#accountBalances{{group.id}}" ng-bind="group.name"></div>
      <table id="accountBalances{{group.id}}" class="table table-hover table-bordered table-condensed panel-collapse collapse" ng-class="{'in': group.isActive}">
        <thead>
          <tr>
            <th>Name</th>
            <th class="table-column-frozen">Balance</th>
            <th ng-repeat="month in model.dateRange.months.sort().reverse()" title="{{month | date:'MMMM yyyy'}}">
              <a ng-bind="month | date:'MMMM'" href="/"></a>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="account in group.accounts">
            <td>
              <span class="label label-info pull-right"><a href="/" ng-bind="account.uncategorizedTransactionCount" title="{{account.name}} has {{account.uncategorizedTransactionCount}} uncategorized transactions" ></a></span>
              <a href="/" ng-bind="account.name"></a>
            </td>
            <td class="table-column-frozen" title="Current as of {{account.balanceTimestamp}}" ng-bind="account.balance | currency"></td>
@*            <td ng-repeat="balance in account.accountBalances | betweenDates:model.dateRange.from:model.dateRange.to" ng-bind="balance.monthEndBalance | currency"></td>*@
            <td ng-repeat="balance in account.accountBalances | duringMonths:model.dateRange.months" ng-bind="(balance.monthEndBalance || 0) | currency"></td>
          </tr>
        </tbody>

@*        <tbody>
        @foreach (var account in group.Accounts)
        {
          <tr>
            <td>
              <span class="label label-info pull-right">@Html.ActionLink(account.UncategorizedTransactionCount.ToString(), MVC.Scrilla.Transactions(account.Id, null, "none"), new { title = String.Format("{0} has {1} uncategorized transactions", account.Name, account.UncategorizedTransactionCount) })</span>
              @Html.ActionLink(account.Name, MVC.Scrilla.Transactions(account.Id))
            </td>
            <td class="table-column-frozen" title="Current as of @account.BalanceTimestamp">@account.Balance.ToCurrency()</td>
            @for (DateTime cur = Model.DateRange.ToMonth; cur >= Model.DateRange.FromMonth; cur = cur.AddMonths(-1))
            {
              var balance = account.AccountBalances.SingleOrDefault(x => x.Month == cur);
              var amount = balance == null ? 0M : balance.MonthEndBalance;
              var amountClass = (amount == 0M ? "amount-zero" : (amount > 0M ? "amount-positive" : "amount-negative"));
              <td>@Html.ActionLink(amount.ToCurrency(), MVC.Scrilla.Transactions(account.Id, null, null, cur.ToUrlDate(), cur.AddMonths(1).AddDays(-1).ToUrlDate()), new { @class = @amountClass })</td>
            }
          </tr>
        }
        </tbody>*@
      </table>
    </div>
  </section>
</div>