@using StackExchange.Profiling.Mvc

<!DOCTYPE html>
<html lang="en" ng-app="scrilla">
<head>
  @this.InitClientTimings()
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <base href="/" />
  <title>@(ViewBag.Title ?? "Scrilla")</title>
  @Styles.Render(Links.Bundles.Styles.lib)
  @Styles.Render(Links.Bundles.Styles.app)
</head>
<body>
  @{ Html.RenderPartial(MVC.Shared.Views._HeaderNavigation); }

  @*<date-range-slider class="col-xs-12 col-lg-8"></date-range-slider>*@
  <div class="container-fluid">
    <div>
      @*<h3 summary ng-bind="message"></h3>*@
      <div class="col-xs-12" ui-view></div>
      @RenderBody()
    </div>
  </div>

  <div>
    @System.Web.Optimization.Scripts.Render(Links.Bundles.Scripts.lib)
    @System.Web.Optimization.Scripts.Render(Links.Bundles.Scripts.app)

    @*@MiniProfiler.RenderIncludes(position: RenderPosition.Right, showTrivial: true, showTimeWithChildren: true, showControls: true, useExistingjQuery: true)*@

    @RenderSection("scripts", required: false)
  </div>
</body>
</html>
