<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Scrilla</title>
  @Styles.Render(Links.Bundles.Styles.bootstrap)
  @Styles.Render(Links.Bundles.Styles.bootstrapTheme)
  @Styles.Render(Links.Bundles.Styles.site)
</head>
<body>
  @RenderBody()

  @Scripts.Render(Links.Bundles.Scripts.jquery)
  @Scripts.Render(Links.Bundles.Scripts.bootstrap)
  @RenderSection("scripts", required: false)
</body>
</html>
