@using StackExchange.Profiling;

<!DOCTYPE html>
<html lang="en" ng-app="scrillaApp">
<head>
  @this.InitClientTimings()
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>@(ViewBag.Title ?? "Scrilla")</title>
  @this.TimeScript(Links.Bundles.Styles.bootstrap, Styles.Render(Links.Bundles.Styles.bootstrap))
  @this.TimeScript(Links.Bundles.Styles.chosen, Styles.Render(Links.Bundles.Styles.chosen))
  @this.TimeScript(Links.Bundles.Styles.jqRangeSlider, Styles.Render(Links.Bundles.Styles.jqRangeSlider))
  @this.TimeScript(Links.Bundles.Styles.ngGrid, Styles.Render(Links.Bundles.Styles.ngGrid))
  @this.TimeScript(Links.Bundles.Styles.app, Styles.Render(Links.Bundles.Styles.app))
</head>
<body>
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div>
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand hidden-md hidden-lg" href="/">Scrilla</a>
      </div>
      <div class="navbar-collapse collapse" style="height: 1px;">
        <ul class="nav navbar-nav">
          <li><a href="/">Accounts</a></li>
          <li><a href="/transactions">Transactions</a></li>
          <li><a href="/vendors">Vendors</a></li>
          <li><a href="/categories">Categories</a></li>
          <li><a href="/bills">Bills</a></li>
          <li><a href="/budget">Budget</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <date-range-slider class="col-xs-12 col-lg-8"></date-range-slider>
  <div class="container pull-left">
    <div class="pull-left">
      <h3 summary ng-bind="message"></h3>
      <div ng-view></div>
      @RenderBody()
    </div>
  </div>

  <div>
    @System.Web.Optimization.Scripts.Render(Links.Bundles.Scripts.scrilla)
    @*@this.TimeScript(Links.Bundles.Scripts.jquery, System.Web.Optimization.Scripts.Render(Links.Bundles.Scripts.jquery))*@
    @*@this.TimeScript(Links.Bundles.Scripts.underscore, System.Web.Optimization.Scripts.Render(Links.Bundles.Scripts.underscore))*@
    @*@this.TimeScript(Links.Bundles.Scripts.chosen, System.Web.Optimization.Scripts.Render(Links.Bundles.Scripts.chosen))*@
    @*@this.TimeScript(Links.Bundles.Scripts.bootstrap, System.Web.Optimization.Scripts.Render(Links.Bundles.Scripts.bootstrap))*@
    @*@this.TimeScript(Links.Bundles.Scripts.angularjs, System.Web.Optimization.Scripts.Render(Links.Bundles.Scripts.angularjs))*@
    @*@this.TimeScript(Links.Bundles.Scripts.angularjsRoute, System.Web.Optimization.Scripts.Render(Links.Bundles.Scripts.angularjsRoute))*@
    @*@this.TimeScript(Links.Bundles.Scripts.angularjsResource, System.Web.Optimization.Scripts.Render(Links.Bundles.Scripts.angularjsResource))*@
    @*@this.TimeScript(Links.Bundles.Scripts.jqRangeSlider, System.Web.Optimization.Scripts.Render(Links.Bundles.Scripts.jqRangeSlider))*@
    @*@this.TimeScript(Links.Bundles.Scripts.ngGrid, System.Web.Optimization.Scripts.Render(Links.Bundles.Scripts.ngGrid))*@
    @*@this.TimeScript(Links.Bundles.Scripts.app, System.Web.Optimization.Scripts.Render(Links.Bundles.Scripts.app))*@

    @*@MiniProfiler.RenderIncludes(position: RenderPosition.Right, showTrivial: true, showTimeWithChildren: true, showControls: true, useExistingjQuery: true)*@

    @RenderSection("scripts", required: false)
  </div>
</body>
</html>
