@using StackExchange.Profiling;

<!DOCTYPE html>
<html lang="en">
<head>
  @this.InitClientTimings()
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>@(ViewBag.Title ?? "Scrilla")</title>
  @this.TimeScript(Links.Bundles.Styles.bootstrap, Styles.Render(Links.Bundles.Styles.bootstrap))
  @this.TimeScript(Links.Bundles.Styles.bootstrapTheme, Styles.Render(Links.Bundles.Styles.bootstrapTheme))
  @this.TimeScript(Links.Bundles.Styles.site, Styles.Render(Links.Bundles.Styles.site))
</head>
<body>
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand hidden-md hidden-lg" href="/">Scrilla</a>
      </div>
      <div class="navbar-collapse collapse" style="height: 1px;">
        <ul class="nav navbar-nav">
          <li>@Html.ActionLink("Accounts", MVC.Scrilla.Accounts())</li>
          <li>@Html.ActionLink("Transactions", MVC.Scrilla.Transactions())</li>
          <li>@Html.ActionLink("Vendors", MVC.Scrilla.Vendors())</li>
          <li>@Html.ActionLink("Categories", MVC.Scrilla.Categories())</li>
          <li>@Html.ActionLink("Bills", MVC.Scrilla.Bills())</li>
          <li>@Html.ActionLink("Budget", MVC.Scrilla.Budget())</li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>

  <div class="container pull-left">
    @RenderBody()
  </div>

  @this.TimeScript(Links.Bundles.Scripts.jquery, Scripts.Render(Links.Bundles.Scripts.jquery))
  @this.TimeScript(Links.Bundles.Scripts.bootstrap, Scripts.Render(Links.Bundles.Scripts.bootstrap))
  @this.TimeScript(Links.Bundles.Scripts.angular, Scripts.Render(Links.Bundles.Scripts.angular))
  @MiniProfiler.RenderIncludes(position: RenderPosition.Right, showTrivial: true, showTimeWithChildren: true, showControls: true, useExistingjQuery: true)

  @RenderSection("scripts", required: false)
</body>
</html>
